@using Abp.Configuration
@using Abp.Json
@using Abp.Zero.Configuration
@using ZeroDemo.AlarmBox.Sensors
@using ZeroDemo.Web.Areas.App.Models.Common.Modals
@using ZeroDemo.Web.Areas.App.Models.Sensor
@model CreateOrEditSensorModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSensor") + ": " + Model.SensorName) : L("CreateSensor")))

<div class="modal-body">
    <form name="SensorInformationsForm" role="form" novalidate class="form-validation">

        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
        }

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="SensorName">@L("SensorName")</label>
                    <input id="SensorName" class="form-control" value="@Model.SensorName" type="text" name="SensorName" required maxlength="@ZeroDemo.AlarmBox.Sensors.SensorConsts.MaxSensorNameLength">
                </div>
                @*<div class="form-group">
                    <label for="Location">@L("Location")</label>
                    <input id="Location" type="text" name="Location" class="form-control" value="@Model.Location" required maxlength="@ZeroDemo.AlarmBox.Sensors.SensorConsts.MaxLocationLength">
                </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="HighValueDefault">@L("HighValueDefault")</label>
                    <input id="HighValueDefault" type="number" name="HighValueDefault" class="form-control" value="@Model.HighValueDefault">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="LowValueDefault">@L("LowValueDefault")</label>
                    <input id="LowValueDefault" type="number" name="LowValueDefault" class="form-control" value="@Model.LowValueDefault">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="TargetValueDefault">@L("TargetValueDefault")</label>
                    <input id="TargetValueDefault" type="number" name="TargetValueDefault" class="form-control" value="@Model.TargetValueDefault">
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
